.main-header {
    position: relative;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 12rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    position: relative;
}

.main-nav a {
    text-decoration: none;
}

.main-nav__title {
    color: #80888F;
    font-size: 2.3rem;
}

.main-nav__links {
    display: flex;
    align-items: center;
    list-style: none;
}

.main-nav__links li a {
    font-size: 2.25rem;
    padding: 0 2rem;
    color: #80888F;
}

.main-nav__links li a:hover {
    color: #2196F3;
}

.nav-toggle {
    cursor: pointer;
    color: #80888F;
    font-size: 3em;

    display: none;
}

@media (max-width: 740px) {
    .main-nav {
        padding: 2.5rem 3rem;
    }

    .main-nav__links {
        display: none;
    }

    .nav-toggle {
        display: block;
    }
}